<!DOCTYPE html>
<html lang="hu">
  <head>
    <%- include('../components/common_head') %>
    <title>Fellépés</title>
    <script src="/js/event_form.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="events-form-container">
      <h3>Fellépés</h3>
      <form method="post" class="event-form">
        <input
          type="hidden"
          name="id"
          id="event-id"
          class="event-id"
          value="<%= event.id %>"
        />
        <div>
          <label for="event-title">Fellépés neve</label>
          <input
            type="text"
            id="event-title"
            name="title"
            value="<%= event.id > 0 ? event.title : '' %>"
            placeholder="Fellépés neve"
          />
        </div>
        <div>
          <label for="event-place">Fellépés helyszíne</label>
          <input
            type="text"
            id="event-place"
            name="place"
            value="<%= event.id > 0 ? event.place : '' %>"
            placeholder="Fellépés helyszíne"
          />
        </div>
        <div>
          <label for="event-date">Fellépés dátuma</label>
          <input
            type="date"
            id="event-date"
            name="date"
            value="<%= event.id > 0 ? event.date.toISOString().split('T')[0] : '' %>"
          />
        </div>
        <div>
          <label for="event-description">Leírás</label>
          <textarea id="event-description" name="description">
       <%= event.id > 0 ? event.description : '' %>
    </textarea
          >
        </div>
        <input type="submit" value="Küldés" />
      </form>
    </div>
  </body>
</html>
